:root {
	/* Colores */
	--CPrincipalAlterno: #504aec;
	--CPrincipal: #342EED;
	--CGrisClaro: #E5E5E5;
	--CGrisPrincipal: #818181;
	--CBackground: #EBEBEB;
	--CAvisoNDPrincipal: #856404;
	--CAvisoNDBase: #fff3cd;
	--CAvisoMSGPrincipal: #31708f;
	--CAvisoMSGBase: #bce8f1;
	--CAvisoSCSPrincipal: #3c763d;
	--CAvisoSCSBase: #d6e9c6;
	--CAvisoDNGPrincipal: #a94442;
	--CAvisoDNGBase: #ebccd1;
}

* {
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif, 'Franklin Gothic Medium';
}

body {
	font-family: 'Nunito Sans', sans-serif, 'Franklin Gothic Medium';
	font-size: 16px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	height: auto;
	width: 100%;
}

header {
	height: auto;
	box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
	z-index: 1;
}
main {
	display: inline-flex;
	flex-direction: column;
	background-color: var(--CBackground);
	min-height: calc(100vh - 170px); /*100vh - 70 px de nav - 100px de footer*/
}

.ajuste {
	height: calc(100vh - 170px);
}

footer {
	background-color: var(--CBackground);
	height: 100px;
}

nav {
	background: linear-gradient(to right, var(--CGrisClaro), var(--CPrincipal));
	display: inline-flex;
	height: calc(70px);
	width: 100%;
	align-items: flex-end;
	padding: 0px 20px;
}

.logo img {
	height: 50px;
}

.none {
	display: none !important;
}

.menuBar {
	display: inline-flex;
	gap: 10px;
	margin-left: 20px;
}

.userBar {
	display: inline-flex;
	align-items: center;
}

.userBar > div:first-child {
	display: none;
}

#nombreUsuario {
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
}

.bar {
	overflow: hidden;
	gap: 2px;
	display: inline-flex;
}

.link-btn {
	color: white;
	font-size: 1rem;
	text-decoration: none;
	padding: 4px 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: calc(40px - 8px);
	box-sizing: border-box;
	display: inline-flex;
	min-width: max-content;
	width: 100%;
	justify-content: center;
	background-color: rgb(0 0 0 / 25%);
}

.link-btn.activo{
	font-weight: bold;
}

.bgTop {
	background: linear-gradient(to right, var(--CGrisClaro), var(--CPrincipal));
	width: 100%;
	height: 30%;
}

.bgBottom {
	display: flex;
	justify-content: center;
	background-color: var(--CBackground);
	width: 100%;
	height: 70%;
	z-index: 0;
}

.bgBottom > div {
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	height: max-content;
	/* height: calc(100% + 100px); */
	/* width: max-content; */
	width: 400px;
	display: inline-block;
	margin-top: -100px;
	background: white;
	border-radius: 4px;
	padding: 20px;
}

.bgBottom > div > h1 {
	font-family: 'Roboto';
	font-size: 1.2em;
	margin: 25px 0px 35px 0;
	text-align: center;
}

.C__f.oculto{
	top: -150%;
	visibility: hidden;
	opacity: 0;
}

.C__f{
	visibility: visible;
	position: absolute;
	opacity: 1;
	/* left: 50%; */
	/* transform: translate(-50%, 0%); */
	z-index: 1000;
	padding: 20px;
	/* transition: 0.8s; */
	background-color: rgb(0, 0, 0, 0.4);
	top: 0%;
	width: 100%;
	height: max-content;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity .6s ease;
}

.f {
	display: inline-block;
	width: 450px;
	min-width: 30%;
	padding: 20px 30px;
	background-color: white;
	box-shadow: 2px 2px 7px 0px var(--Form-Primary);
	height: max-content;
	border-radius: 6px;
}

.fBig {
	width: 700px !important;
}

.f > h2 {
	margin: 0;
	text-align: center;
	font-size: 1.4rem;
	font-weight: normal;
}

.f__x{
	display: inline-flex;
	position: relative;
	border: none;
	background: var(--CGrisClaro);
	border-radius: 50%;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.f__x::before {
	position: absolute;
	content: '';
	background-color: var(--CGrisPrincipal);
	width: 10px;
	height: 2px;
	transform: rotate(45deg);
	top: calc(50% - 1px);
	left: calc(50% - 6px);
}

.f__x::after {
	position: absolute;
	content: '';
	background-color: var(--CGrisPrincipal);
	width: 10px;
	height: 2px;
	transform: rotate(-45deg);
	top: calc(50% - 1px);
	left: calc(50% - 6px);
}

form {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	height: -webkit-fill-available;
}

.i__group{
	position: relative;
	margin: 40px 0 0 0;
	width: 100%;
}

.C__group{
	display: inline-flex;
	flex-direction: column;
	padding: 20px 10px;
	margin-top: 20px;
	width: 100%;
}

.iflex{
	display: inline-flex !important;
}

input.yeah {
	border-color: #008f39;
}

input.noug {
	border-color: pink;
}

.counter, .message {
	font-size: 0.8rem;
	position: absolute;
	content: '';
	right: 2px;
	bottom: -1rem;
	background-color: whitesmoke;
	width: fit-content;
	overflow: hidden;
}

.message {
	left: 2px;
}

.textfield{
	display: inline-block;
	position: relative;
	background: none;
	width: calc(100% - 4px);
	height: 40px;
	margin: 2px;
	font-size: 1.1rem;
	padding: 6px 10px;
	border: 1px solid var(--CGrisPrincipal);
	color: var(--CGrisPrincipal);
	border-radius: 4px;
	outline: none;
}

input[type="password"]{
	letter-spacing: 4px;
	text-align: center;
}

input[type="radio"]{
	margin: 2px 4px;
}

input[type="radio"]:checked + .label-radio{
	display: inline-flex;
}

.label-radio{
	position: relative;
	color: var(--CGrisPrincipal);
	padding: 2px 4px;
	border-radius: 2px;
	transition: all .3s ease;
}

.label-radio:hover{
	background-color: #ccc;
}

select {
	display: inline-block;
	background: none;
	width: calc(100% - 4px);
	height: 40px;
	margin: 2px;
	font-size: 1.1rem;
	color: var(--CGrisPrincipal);
	border: 1px solid var(--CGrisPrincipal);
	border-radius: 4px;
	outline: none;
}

.labels{
	position: absolute;
	top: -12px;
	font-size: 0.8rem;
	line-height: 0.8rem;
	color: var(--CGrisPrincipal);
	left: 10px;
}

.submit{
	display: inline-block;
	width: 100%;
	font-family: 'Nunito Sans', sans-serif, arial;
	letter-spacing: 2px;
	text-decoration: none;
	cursor: pointer;
	pointer-events: all;
	text-align: center;
	border: none;
	color: white;
	background-color: var(--CPrincipal);
	font-size: 1rem;
	margin-top: 25px;
	padding: 8px 0;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

/* Título */
.title {
	padding: 0 10px;
}

.title > h2 {
	margin: 0;
	padding: 10px;
	font-size: 1.5rem;
	font-weight: lighter;
	/* background-color: white; */
}
/* Título */

/* Botónes */
.Lbl__Bar {
	font-size: 1rem;
	line-height: 1rem;
	color: var(--CGrisPrincipal);
}

.lista {
	display: inline-flex;
	flex-direction: column;
	align-items: stretch;
}

.listaItem {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--CGrisClaro);
	padding: 5px;
	border-radius: 4px;
}

.listaItem > span {
	overflow: auto;
}

.list {
	flex-direction: column !important;
	align-items: flex-start !important;

}

.column {
	flex-direction: column !important;
	max-width: -webkit-fill-available;
}

.nowrap {
	flex-wrap: nowrap !important;
}

.principal {
	color: var(--CPrincipal);
	font-family: Roboto;
}

.w70 {
	width: 70% !important;
}

.center { text-align: center !important;}
.centerf { align-items: center !important;}

.subtitle {
	margin: 0 10px;
	font-size: 1.1rem;
	font-family: Roboto, 'Nunito Sans';
}

.Bar__Btns{
	display: inline-flex;
	height: auto;
	padding: 10px;
	justify-content: space-between;
	background: white;
	flex-wrap: wrap;
	gap: 10px;
	margin: 5px 0;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
	width: 100%;
}

.C__Btn{
	display: inline-flex;;
	gap: 4px;
	flex-wrap: wrap;
	align-items: center;
}

.results {
	color: var(--CGrisPrincipal);
	font-size: 0.8rem;
}

.btn {
	position: relative;
	text-decoration: none;
	background-color: var(--CPrincipalAlterno);
	color: white;
	padding: 5px 10px;
	font-size: 0.8rem;
	border-radius: 4px;
	outline: none;
	border: none;
	text-align: center;
	cursor: pointer;
}

.link {
	background: none;
	color: var(--CPrincipalAlterno);
}

/* .btn.disabled {
	color: var(--CPrincipalAlterno);
} */

input:disabled {
	opacity: 0.6;
	cursor: not-allowed;
	pointer-events: none;
}

.Recuperar {
	opacity: 0.4 !important;
}

.search {
	background: none;
	border: 1px solid var(--CGrisPrincipal);
	color: var(--CGrisPrincipal);
	border-radius: 4px;
	outline: none;
}

.C__Btn__Last{
	display: inline-flex;
	float: right;
}

.C__Btn__Last a{
	display: flex;
	align-self: center;
}
/* Botónes */

/* Tablas */
.C__Table{
	display: inline-block;
	/* width: calc(100% - 80px); */
	padding: 10px;
	/* margin-top: 24px; */
}

.table {
	border-collapse: collapse;
	width: 100%;
	border-radius: 2px;
	box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
}

table tr:first-child th:first-child {
	border-top-left-radius: 4px;
}

table tr:first-child th:last-child {
	border-top-right-radius: 4px;
}

table tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 4px;
}

.table tr{
	cursor: pointer;
}

.table tr:hover {
	background-color: var(--CGrisClaro) !important;
	transition: background-color .3s ease-out;
}

.table td, .table th {
	position: relative;
	padding: 5px;
}

.table tr:nth-child(odd){background-color: whitesmoke;}

.table tr:nth-child(even){background-color: white;}

.table th {
	color: var(--CPrincipalAlterno);
	font-size: 1.1rem;
	font-weight: lighter;
	/* border-bottom: 1px solid var(--CGrisPrincipal); */
	text-align: start;
}

/* .table td{
} */

.table tr td .clip{
	display: flex;
	font-size: 14px;
	line-height: 22px;
	width: inherit;
	height: 22px;
	justify-content: center;
	color: white;
	background-color: rgb(107, 107, 107);
	border: none;
}

.table tr td .clip.disabled{
	height: auto !important;
	padding-top: 0px !important;
}

.warn {
	background-color: red !important;
}

.init {
	background-color: blue !important;
}

.progress {
	background-color: yellow !important;
	color: black !important;
}

.finish {
	background-color: green !important;
}

.info {
	display: inline-block;
	width: calc(100%);
	font-size: 0.8rem;
	text-align: center;
	padding: 5px;
	border: 1px solid;
	border-radius: 4px;
}

.info.scs{
	background-color: var(--CAvisoSCSBase);
	border-color: var(--CAvisoSCSPrincipal);
	color: var(--CAvisoSCSPrincipal);
}

.info.msg{
	background-color: var(--CAvisoMSGBase);
	border-color: var(--CAvisoMSGPrincipal);
	color: var(--CAvisoMSGPrincipal);
}

.info.nodata{
	background-color: var(--CAvisoNDBase);
	border-color: var(--CAvisoNDPrincipal);
	color: var(--CAvisoNDPrincipal);
}

.info.dng{
	background-color: var(--CAvisoDNGBase);
	border-color: var(--CAvisoDNGPrincipal);
	color: var(--CAvisoDNGPrincipal);
}

.info span{
	display: flex;
	align-items: center;
	justify-content: center;
	color: inherit;
}

.new::before{
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	top: -7px;
	left: 5px;
	background-color: lime;
}

/* .table tr td a, .button{
	text-decoration: none;
	color: blue;
	font-size: 20px;
	border: 1px solid blue;
	display: inline-block;
	min-width: max-content;
	width: 50%;
	text-align: center;
	border-radius: 2px;
} */

.table tr td:last-child, .table tr th:last-child{
	text-align: center;
}
/* Tablas */

/* Slider */
.slider {
	width: 100%;
	background-color: var(--Background-Active);
	width: 100%;
	height: 350px;
	overflow: hidden;
	position: relative;
	box-shadow: 0px 2px 3px -1px gray;
}

.slider button, .slider #itemsSlide {
	position: absolute;
	border: none;
	outline: none;
	border-radius: 4px;
	font-size: 20px;
	color: white;
	background-color: rgba(156, 156, 156, 0.479);
}

.slider button:hover {
	background-color: rgba(156, 156, 156, 0.479);
}

#prevSlide {
	font-family: 'Roboto';
	top: calc(50% - 25px);
	left: 0;
	width: 24px;
	height: 50px;
}

#nextSlide {
	font-family: 'Roboto';
	top: calc(50% - 25px);
	right: 0;
	width: 24px;
	height: 50px;
}

#itemsSlide {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
	text-align: center;
	background: none !important;
}

#itemsSlide > button {
	position: relative;
	font-size: 14px;
	border-radius: 50%;
}

.slider ul {
	display: flex;
	margin: 0;
	padding: 0;
    height: 100%;
	width: 400%;
	margin-left: -100%;
}

.slider ul li{
	list-style: none;
	width: 100%;
	height: 100%;
	position: relative;
}

.quick {
	width: 100%;
	height: 100%;
}

.quick img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	background: linear-gradient(0deg, white 0%, var(--Form-Primary) 55%, var(--Form-Primary-Low) 100%);
	cursor: pointer;
}

.overlay::after {
	content: attr(data-content);
	position: absolute;
	font-family: sans-serif;
	font-size: 3em;
	font-weight: lighter;
	color: white;
	left: 10%;
	top: calc(50%);
}

/* .overlay::after {
	content: attr(data-content);
	position: absolute;
	font-family: sans-serif;
	font-size: 3em;
	font-weight: lighter;
	color: var(--CardTitleText);
	background-color: var(--Slider);
	border: 1px solid var(--CardTitleText);
	inset: 0;
	display: grid;
	place-items: center;
	transition: transform .3s;
}

.overlay:hover::after {
	transform: translateY(100%);
} */
/* Slider */

@media screen and (max-width: 450px) {
	body {
		font-size: 14px;
	}

	nav {
		background: white;
		text-align: center;
		display: inline-flex;
		height: 100px;
		justify-content: center;
		align-items: flex-end;
		position: relative;
	}

	main {
		min-height: calc(100vh - 170px);
		height: auto;
	}

	.menuBar {
		position: absolute;
		width: auto;
		height: auto;
		padding: 10px 1px;
		border-radius: 50%;
		top: calc(50% - 10px);
		left: 0;
		flex-direction: column;
		align-items: flex-end;
		background-color: var(--CPrincipalAlterno);
		z-index: 1;
		cursor: pointer;
		transition: all .2s ease-out;
	}

	.menuBar.showBar {
		padding: 10px 0 10px 20px;
		border-radius: 0px;
		width: calc(150px + 20px);
		height: calc(100vh);
		top: 0;
		margin: 0;
	}

	.menuBar.showBar .userBar{
		margin: 30px 0;
		width: 100%;
		justify-content: space-between;
		gap: 10px;
	}

	.menuBar.showBar .userBar > div:last-child, 
	.menuBar.showBar .bar {
		display: inline-flex;
		overflow: hidden;
	}

	.userBar {
		align-self: center;
		padding: 10px;
		margin: 0;
	}

	.userBar > div:last-child, 
	.bar {
		display: none;
	}
	
	.userBar > div:first-child {
		display: inline-flex;
	}

	.bars {
		height: 2px;
		width: 20px;
		position: relative;
		background-color: var(--CGrisClaro);
		border-radius: 4px;
		display: inline-flex;
	}

	.bars::before {
		position: absolute;
		content: '';
		top: -6px;
		left: 0;
		height: 2px;
		width: 20px;
		background-color: var(--CGrisClaro);
		transition: transform .5s ease;
	}
	
	.bars::after {
		position: absolute;
		content: '';
		top: 6px;
		left: 0;
		height: 2px;
		width: 20px;
		background-color: var(--CGrisClaro);
		transition: transform .5s ease;
	}

	.menuBar.showBar .bars {
		background: none;
	}

	.menuBar.showBar .bars::before {
		top: 0;
		transform: rotate(45deg);
	}
	
	.menuBar.showBar .bars::after {
		top: 0;
		transform: rotate(-45deg);
	}

	.bar {
		flex-direction: column;
	}

	.logo img{
		height: 60px;
	}

	.bgTop {
		display: none;
	}

	.link-btn {
		border-radius: 0px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		background: none;
		color: white;
	}
	
	.link-btn.activo {
		background-color: white;
		color: var(--CGrisPrincipal);
	}

	.bgBottom > div {
		margin: 0;
		box-shadow: none;
		width: -webkit-fill-available;
		padding: 20px 40px;
	}

	.bgBottom > div > h1 {
		margin: 0;
		margin-bottom: 40px;
	}

	.table td, .table th {
		display: inline-flex;
		width: -webkit-fill-available;
	}

	.table th {
		display: none;
	}

	.table td:first-child {
		display: revert;
		position: relative;
	}
	
	.table td:first-child::before {
		position: absolute;
		content: '';
		background-color: var(--CGrisPrincipal);
		width: 6px;
		height: 2px;
		transform: rotate(45deg);
		top: calc(50% - 2px);
		right: -20px;
	}
	
	.table td:first-child::after {
		position: absolute;
		content: '';
		background-color: var(--CGrisPrincipal);
		width: 6px;
		height: 2px;
		transform: rotate(-45deg);
		top: calc(50% - 2px);
		right: -24px;
	}
	
	.table td:nth-child(1n+2) {
		width: 100%;
		justify-content: center;
		font-weight: bold;
		font-size: 1.1rem;
		padding-left: 35px;
	}

	.table td:nth-child(1n+3) {
		font-size: 0.9rem;
		font-weight: normal;
	}
	
	.table td:nth-child(1n+4) {
		display: none;
	}

	.block{
		display: block !important;
		text-align: center;
	}

	.iflex {
		flex-wrap: wrap;
	}

	.fBig {
		width: 100%;
	}

	.column {
		width: 100% !important;
	}

	/* footer {} */
}